version: 2.1

orbs:
  # The python orb contains a set of prepackaged CircleCI configuration you can use repeatedly in your configuration files
  # Orb commands and jobs help you with common scripting around a language/tool
  # so you dont have to copy and paste it everywhere.
  # See the orb documentation here: https://circleci.com/developer/orbs/orb/circleci/python
  python: circleci/python@1.2

workflows:
  sample:  # This is the name of the workflow, feel free to change it to better match your workflow.
    # Inside the workflow, you define the jobs you want to run. 
    # For more details on extending your workflow, see the configuration docs: https://circleci.com/docs/2.0/configuration-reference/#workflows 
    jobs:
      - compile-and-test
      - docking:
        requires:
          - compile-and-test
        # filters: # Build only on main branch
        #   branches:
        #     only: main


jobs:
  compile-and-test:  # This is the name of the job, feel free to change it to better match what you're trying to do!
    # These next lines defines a Docker executors: https://circleci.com/docs/2.0/executor-types/
    # You can specify an image from Dockerhub or use one of the convenience images from CircleCI's Developer Hub
    # A list of available CircleCI Docker convenience images are available here: https://circleci.com/developer/images/image/cimg/python
    # The executor is the environment in which the steps below will be executed - below will use a python 3.9 container
    # Change the version below to your required version of python
    docker:
      - image: cimg/python:3.8
    # Checkout the code as the first step. This is a dedicated CircleCI step.
    # The python orb's install-packages step will install the dependencies from a Pipfile via Pipenv by default.
    # Here we're making sure we use just use the system-wide pip. By default it uses the project root's requirements.txt.
    # Then run your tests!
    # CircleCI will report the results back to your VCS provider.
    steps:
      - checkout
      - run:
          name: Create venv
          # Create virtual environment with venv
          command: python -m venv venv
          
      - run:
          name: echo venv
          # activate venv
          command: ls venv/bin/
      - run:
          name: Activate venv
          # activate venv
          command: source venv/bin/activate

      - run:
          name: Install reqs
          # install requirements from requirements.txt
          command: pip install -r requirements.txt

      - run:
          name: Run test PEP8
          # This assumes pytest is installed via the install-package step above
          command: flake8
          
      - run:
          name: Run tests
          # This assumes pytest is installed via the install-package step above
          command: python manage.py test
  docking: #
    build:
      environment:
        IMAGE_NAME: emericdefay/oc-lettings-site-ci
      docker:
        - image: circleci/buildpack-deps:stretch
      steps:
        - checkout
        - setup_remote_docker
        - run:
          name: Build Website docker image
          command: docker build -t $IMAGE_NAME:lastest