version: 2.1

orbs:
  python: circleci/python@1.2
  heroku: circleci/heroku@1.2.6

executors:
  docker-publisher:
    environment:
      IMAGE_NAME: oc-lettings-site
      GIT_HASH: $CIRCLE_SHA1
      APP_NAME: oc-lettings-4
    docker:
      - image: cimg/python:3.8

workflows:
  ci:
    jobs:
      - compile-and-test
      - docking:
          requires:
            - compile-and-test
          filters: # Build only on main branch
            branches:
              only: main
      - publish-on-dockerhub:
          requires:
            - docking
          filters: # Publish only on main branch
            branches:
              only: main
      - deploy_orb:
          requires:
            - publish-on-dockerhub
          filters: # Deploy only on main branch
            branches:
              only: main

jobs:
  compile-and-test:
    executor: docker-publisher
    steps:
      - checkout
      - run:
          name: Create venv
          command: python -m venv venv
      - run:
          name: Activate venv
          command: source venv/bin/activate
      - run:
          name: Install reqs
          command: pip install -r requirements.txt
      - run:
          name: Run test PEP8
          command: flake8
      - run:
          name: Run tests
          env:
            SECRET_KEY: $SECRET_KEY
            DNS_SENTRY: $DNS_SENTRY
          command: python manage.py test
  docking: #
    executor: docker-publisher
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build docker image
          command: docker build -t $DOCKERHUB_USERNAME/$IMAGE_NAME:$CIRCLE_SHA1 .
      - run:
          name: Save docker image
          command: docker save -o image.tar $DOCKERHUB_USERNAME/$IMAGE_NAME
      - persist_to_workspace:
          root: .
          paths:
            - ./image.tar
  publish-on-dockerhub:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - setup_remote_docker
      - run:
          name: Load saved docker image (image.tar)
          command: docker load -i /tmp/workspace/image.tar
      - run:
          name: push on dockerhub
          command: |
            docker login -u "$DOCKERHUB_USERNAME" -p "$DOCKERHUB_PASSWORD"
            docker push $DOCKERHUB_USERNAME/$IMAGE_NAME:$CIRCLE_SHA1
            docker logout

  # WITHOUT HEROKU'S ORB + WITH ONLY AMD BUILD
  # deploy:
  #     machine: true
  #     steps:
  #       - checkout
  #       - run:
  #           name: Build and push Docker image to Heroku
  #           # 1. Install Heroku CLI on the build machine
  #           # 2. Login to Heroku with HEROKU_API_KEY, avoiding to login 
  #           # 3. Build and push docker image to heroku registry
  #           # 4. Publish to the website
  #           command: |
  #             sudo curl https://cli-assets.heroku.com/install.sh | sh
  #             HEROKU_API_KEY=${HEROKU_TOKEN} heroku container:login
  #             HEROKU_API_KEY=${HEROKU_TOKEN} heroku container:push -a $APP_NAME web
  #             HEROKU_API_KEY=${HEROKU_TOKEN} heroku container:release -a $APP_NAME web 

  # WITH HEROKU'S ORB
  deploy_orb:
    executor: heroku/default
    steps:
      - checkout
      - heroku/install
      - run: 
          name: Sign into heroku
          command: |
            cat >~/.netrc \<<EOF
            machine api.heroku.com
              login $HEROKU_EMAIL
              password $HEROKU_TOKEN
            EOF
      - run: heroku config:set BUILD_NUMBER=$CIRCLE_BUILD_NUM -a $APP_NAME
      - run: heroku config:set SECRET_KEY=$SECRET_KEY -a $APP_NAME
      - run: heroku config:set DNS_SENTRY=$DNS_SENTRY -a $APP_NAME

      - heroku/deploy-via-git:
          app-name: oc-lettings-4
          force: true